.checkbox {
    input {
        width: 0;
        height: 0;
        transform: scale(0);
        margin: 0;
        vertical-align: middle;

        + span {
            border-radius: 100px;
            background: var(--inactive-bg);
            width: 18px;
            height: 18px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            vertical-align: middle;

            svg {
                width: 9px;
                height: 9px;
                fill: white;
            }

            + span {
                vertical-align: middle;
            }
        }

        &:focus-visible {
            + span {
                box-shadow: 0 0 5px black;
            }
        }

        &:checked {
            + span {
                color: var(--main-color);
                background: currentColor;
            }
        }

        + span + span:not(:empty) {
            margin-left: 0.5em;
        }
    }
}
