.container {
    --ratio-dimensions: 2.5;

    display: inline-flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 100px;
    position: relative;
    line-height: 0;
    width: calc(110px / var(--ratio-dimensions));
    height: calc(62px / var(--ratio-dimensions));
    padding-left: calc(8px / var(--ratio-dimensions));
    box-sizing: border-box;

    input {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;

        &:not(:checked) + .toggle {
            transform: translateX(0);
            background: var(--toggle-handle-bg);
            border-color: var(--toggle-handle-border);
        }

        &[data-undetermined=true] + .toggle {
            transform: translateX(calc(24px / var(--ratio-dimensions)));
            background: var(--toggle-handle-border);
            border-color: var(--toggle-handle-border);
        }

        &:disabled:checked + .toggle {
            border-color: var(--toggle-handle-border-disabled);
            background: var(--toggle-handle-bg-disabled);
        }
    }
}

.disabled {
    background: var(--toggle-bg-disabled);
}

.toggle {
    box-sizing: border-box;
    border-radius: 100px;
    display: inline-block;
    width: calc(44px / var(--ratio-dimensions));
    height: calc(44px / var(--ratio-dimensions));
    border: calc(1px / var(--ratio-border)) solid var(--orange1-darker);
    background: var(--orange1);
    transition: transform 200ms, background-color 200ms, border-color 200ms;
    transform: translateX(calc(48px / var(--ratio-dimensions)));
}
