.btn {
    height: calc(118px / var(--ratio-dimensions));
    background: var(--green1);
    border: calc(1px / var(--ratio-border)) solid var(--green1-darker);
    color: white;
    border-radius: 1000px;
    display: block;
    width: 100%;
    font-size: calc(26px / var(--ratio-font));
    padding: 0 1em;

    &:disabled {
        opacity: 0.5;
    }
}

.btn--inline {
    width: auto;
}

.btn--outline {
    background: white;
    border-color: var(--button-border);
    color: var(--grey1);
}
