.coloredBox {
    height: 300px;
    background: var(--green1-darker);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.header {
    --custom-header-color: var(--green1-darker);
    --custom-text-color: white;
}
