.header {
    --border-color: var(--header-border);
    --background-color: var(--header-bg);
    background-clip: padding-box;
    background: var(--background-color);
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    box-sizing: border-box;
    color: var(--header-text);
}

.header--toolbar {
    --border-color: var(--toolbar-border);
    --background-color: var(--toolbar-bg);
}

.header--colored {
    --border-color: var(--custom-header-color);
    --background-color: var(--custom-header-color);
    color: var(--custom-text-color);
}

.header--top, .header--bottom {
    padding: 0 16.666px;
    min-height: 44px;
}
.header--left, .header--right {
    padding: 16.666px 0;
    min-width: 44px;
    flex-direction: column;

    > .contents {
        flex-direction: column;
        align-items: center;
    }
}

.header--top {
    border-bottom: 0.37px solid var(--border-color);
}
.header--bottom {
    border-top: 0.37px solid var(--border-color);
    order: 2;
}
.header--left {
    border-right: 0.37px solid var(--border-color);
}
.header--right {
    border-left: 0.37px solid var(--border-color);
    order: 2;
}

.contents {
    flex: 1;
    display: flex;
}

.header--center > .contents {
    justify-content: center;
}

.header--top, .header--bottom {
    .before {
        margin-right: calc(50px / var(--ratio-dimensions));
        height: 100%;
        padding: 7px 0;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .after {
        margin-left: calc(50px / var(--ratio-dimensions));
        height: 100%;
        padding: 7px 0;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .actions {
        margin: calc(56px / var(--ratio-dimensions)) 0;
    }
}

.header--left, .header--right {
    .before {
        margin-bottom: calc(50px / var(--ratio-dimensions));
        flex-direction: column;
    }

    .after {
        margin-top: calc(50px / var(--ratio-dimensions));
        flex-direction: column;
    }

    .actions {
        margin: 0 calc(56px / var(--ratio-dimensions));
    }
}

.before, .after {
    display: flex;
}
