.stickyHeader {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__content {
        flex: 1;
        overflow: auto;

        &--bottom, &--right {
            order: 1;
        }
    }
}

.stickyHeader--left, .stickyHeader--right {
    flex-direction: row;
}
