.section {
    background: var(--background);
}

.section + .section {
    margin-top: 23px;
}

.vertical {
    margin-top: 23px;
    margin-bottom: 23px;
}

.horizontal {
    margin-left: 23px;
    margin-right: 23px;
}
