// @TODO prefix variable names
:root {
    --ratio-dimensions: 3;
    --ratio-border:     2.666666;
    // font is calculated from top to bottom
    --ratio-font:       1.666666;

    --background: white;

    --main-color: #008ad2;
    --main-color-alt: #006AA9;

    --active-bg: #e7e7e7;
    --inactive-bg: #d3d3d3;
    --inactive-dark-bg: #999;

    --toggle-handle-bg: #e0e0e0;
    --toggle-handle-border: #cdcdcd;

    --icon: #636363;
    --border: #d5d5d5;
    --button-border: #bababa;

    --header-border: #c8c8c9;
    --header-bg: #efeff0;
    --header-text: #484848;
    --text: #323232;
    --sub: #959595;

    --toolbar-border: #ababab;
    --toolbar-bg: #f8f8f8;
    --modal-bg: #f7f7f7;
    --modal-button-bg: #f8f8f8;
    --modal-button-border: #c2c2c2;

    --input-disabled-bg: #f3f3f3;
    --input-disabled-text: #959595;

    --choice-bg: #ffffff;
    --choice-text: #999999;
    --choice-active-bg: #f3f3f3;
    --choice-active-text: #313131;
    --choice-border: #cfcfcf;

    --selector-text: #606060;
    --selector-active: var(--main-color);

    // Shades: https://maketintsandshades.com/#038bf4,ff7200,7357e8,3ec234,3ec234,ff388f,ea2700
    --blue1: #038bf4;
    --blue2: #b7d6f5;
    --blue3: #dbe6ff;
    --orange1: #ff7200;
    --orange1-darker: #cc5b00;
    --purple1: #7357e8;
    --green1: #3ec234;
    --green1-darker: #38af2f;
    --pink1: #ff388f;
    --red1: #ea2700;
    --yellow1: #ffde9d;
    --yellow2: #e4a429;
    --yellow3: #fff5db;
    --pinky1: #f5c0b7;
    --pinky2: #e07b67;
    --pinky3: #ffe1db;

    --grey1: #737373;

    --focus-color: #dcaf00;
}

*:focus {
    outline: none!important;
}

*:focus-visible:focus-visible {
    outline: none!important;
    border-color: var(--focus-color);
    background-color: var(--focus-bg-set);
}


body {
    font-size: 15px;
    color: var(--text);
}
