// @TODO prefix variable names
:root {
    --ratio-dimensions: 3;
    --ratio-border:     2.666666;
    // font is calculated from top to bottom
    --ratio-font:       1.666666;

    --background: white;

    --main-color: #008ad2; // used
    --main-color-alt: #006AA9;

    --active-bg: #d3d3d3;
    --inactive-bg: #d3d3d3; // used

    --toggle-handle-bg: #e0e0e0;
    --toggle-handle-border: #cdcdcd;

    --icon: #636363;
    --border: #d5d5d5;
    --button-border: #bababa;

    --header-border: #c8c8c9;
    --header-bg: #efeff0;
    --header-text: #484848;
    --text: #323232;
    --sub: #959595;

    --toolbar-border: #ababab;
    --toolbar-bg: #f8f8f8;

    // Shades: https://maketintsandshades.com/#038bf4,ff7200,7357e8,3ec234,3ec234,ff388f,ea2700
    --blue1: #038bf4;
    --orange1: #ff7200;
    --orange1-darker: #cc5b00;
    --purple1: #7357e8;
    --green1: #3ec234;
    --green1-darker: #38af2f;
    --pink1: #ff388f;
    --red1: #ea2700;

    --grey1: #737373;

    --focus-color: #dcaf00;
}

*:focus {
    outline: none!important;
}

*:focus-visible:focus-visible {
    outline: none!important;
    border-color: var(--focus-color);
    background-color: var(--focus-bg-set);
}


body {
    font-size: 15px;
    color: var(--text);
}
